---

---

<section class="py-8 overflow-hidden">
    <div class="relative max-w-3xl mx-auto">
        <pre
            class="bg-gray-800 rounded-lg p-6 overflow-x-auto border border-gray-700 shadow-lg">
        <code class="text-lg md:text-xl w-full block">
           
          <span class="text-pink-400">const</span> <span class="text-blue-400">developer</span><span class="text-white"> = </span><span class="text-orange-400">&#123;</span>
          &nbsp;&nbsp;<span class="text-green-400">name</span><span class="text-white">:</span> <span class="text-yellow-300">'Crixpstios'</span><span class="text-white">,</span>
          &nbsp;&nbsp;<span class="text-green-400">skills</span><span class="text-white">:</span> <span class="text-orange-400">[</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'JavaScript'</span><span class="text-white">,</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'React'</span><span class="text-white">,</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'CSS'</span><span class="text-white">,</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'Node.js'</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'Express'</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'AstroJS'</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'Firebase'</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'NextJS'</span>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-yellow-300">'Django'</span>
          &nbsp;&nbsp;<span class="text-orange-400">]</span><span class="text-white">,</span>
          &nbsp;&nbsp;<span class="text-green-400">learning</span><span class="text-white">:</span> <span class="text-purple-400">true</span><span class="text-white">,</span>
          &nbsp;&nbsp;<span class="text-green-400">passion</span><span class="text-white">:</span> <span class="text-purple-400">Infinity</span>
          <span class="text-orange-400">&#125;</span><span class="text-white">;</span>
        </code>
      </pre>

        <div class="absolute -top-2 -left-2 w-4 h-4 bg-red-500 rounded-full">
        </div>
        <div class="absolute -top-2 left-4 w-4 h-4 bg-yellow-500 rounded-full">
        </div>
        <div class="absolute -top-2 left-10 w-4 h-4 bg-green-500 rounded-full">
        </div>
    </div>
</section>
