---
import Footer from "../components/navigations/Footer.astro";
import Navbar from "../components/navigations/Navbar.astro";
import type { BlogConfig } from "../config/blog/config";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: BlogConfig["blogName"];
	description?: BlogConfig["blogDescription"];
	autor?: BlogConfig["blogAuthor"];
}

const { title, description, autor = "Crixpsitos" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content={autor} />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-gray-100">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	html, body {
		min-width: 100dvw;
		min-height: 100dvh;
	}
</style>
